#road {
  width: 93%;
  height: 100px;
  margin: auto;
  background-color: #ccc;
  position: relative;
}

.lane0 {
  top: 5%;
}

.lane1 {
  top: calc(59% + 5px);
}

.taxi,
.bus {
  position: absolute;
  transition: all 0.2s linear;
}

.taxi {
  color: cyan;
  font-size: 16px;
  text-align: left;
  text-shadow: 1px 1px 1px black;
  width: 50px;
  height: calc(23.5%);
  left: -50px;
  border-radius: 5px;
  background-image: url(../assets/taxi.png);
  background-size: contain;
  background-size: cover;
  background-size: 100%;
}

.bus {
  color: yellow;
  font-size: 17px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  width: 90px;
  height: calc(25%);
  left: -90px;
  background-image: url(../assets/bus.png);
  background-size: contain;
  background-size: cover;
  background-size: 100%;
}
